<!DOCTYPE html>
<html>
<head>
    <title>Weather API</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/8b134085b2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="image">
        <img src="../static/image/black-rain-abstract-dark-power.jpg" class="img" alt="" height="815px" width="100%">
    </div>
    <section class="section1">
        <div class="txt">
            <h1>Md Weathers</h1>
        </div>
        <nav>
            <a href="#">Home</a>
            <a href="#">Forecast</a>
            <a href="#">Safety</a>
            <a href="#">About</a>
            <a href="#">Help</a>
        </nav>
        <div class="follow">
            <a href="#" class="contact">Contact Us</a>
        </div>
        <div class="button">
            <a href="{{url_for('home')}}" class="btn">Show Weather</a>
        </div>
        
    </section>

</body>
</html>